.output-text
{
    color: white;
    text-align: justify;
}
.recommend-container
{
    width: 50%;
    margin: 3rem auto;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5%;
}
.recommend-container h3
{
   font-size: 1.75rem;
}

.recommend-form
{
    width: 75%;
    align-items: center;
}
.recommend-form input
{
    width: 75%;
    margin: 1.5rem auto;
   margin-left:8rem ;
}
.recommend-submit
{
    width: 50%;
    align-items: center;
    font-size: .95rem;
    margin-left: 11rem;
}
.recommend-submit:hover
{
    background-color: rebeccapurple;
}

.output-container h4
{
    text-align: center;
    margin-top: 1rem;
}
.output-container
{
    margin-top: 1rem;
}