.dashboard-card
{
    width: 20rem;
    padding: 2%;
    height: 120px ;
    margin: 1.5rem;
    background: #f8f9fa;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-align: center;
    padding: 2rem;
}
.dashboard-card:hover {
    transform: translateY(-5px);
  }
.main-cards
{
    display: flex;
}